# This file should be customized and copied to .env

# [ "dev" , "prod", "stage" ] are the possible values
#ENV_SETTING=dev
# PORTS
HTTP_PORT=9000
UDP_PORT=9001

# REDIS_PASS should match 'requirepass' config in redis.conf
REDIS_PASS=1HrAghEQAIZ9k7VbUgmY

# REDIS - probably shouldn't change
REDIS_HOST=workqueue
REDIS_PORT=6379

# DEFAULT_QUERY=_timestamp_:[NOW-7DAYS TO NOW]
DEFAULT_QUERY=!schema_version_i:40
FORCE_OVERWRITE=false
NO_INDEX_WRITE=true
LOCAL_DIR_PATH=/opt/output
ENABLE_LOG_DOC=false
FORCE_LOG_DOC_OVERWRITE=false
AUTO_COMMIT=false

# no need to customize- its only on an internal network
# ARENA_PORT = 4567

SOLR_READONLY_HOST=mandala-solr-proxy-dev.internal.lib.virginia.edu
SOLR_READONLY_PORT=443
SOLR_READONLY_SECURE=true

SERVICE_NAME=kmaps
MANDALA_BASE_URL=https://dev.mandala.library.virginia.edu

KMTERMS_UNAUTH_HOST=${SOLR_READONLY_HOST}
KMTERMS_UNAUTH_PORT=${SOLR_READONLY_PORT}
KMTERMS_UNAUTH_SECURE=${SOLR_READONLY_SECURE}
KMTERMS_UNAUTH_CORE=kmterms
KMTERMS_UNAUTH_PATH=/solr
KMTERMS_UNAUTH_FAMILY=4
KMTERMS_UNAUTH_SOLRVERSION=7.3.0

KMASSETS_AUTH_HOST=mandala-solr-master-staging-private.internal.lib.virginia.edu
KMASSETS_AUTH_PORT=8080
KMASSETS_AUTH_SECURE=false
KMASSETS_AUTH_CORE=kmassets
KMASSETS_AUTH_USER=
KMASSETS_AUTH_PASS=
KMASSETS_AUTH_FAMILY=4
KMASSETS_AUTH_PATH=/solr
KMASSETS_AUTH_SOLRVERSION=7.3.0

KMASSETS_UNAUTH_HOST=${SOLR_READONLY_HOST}
KMASSETS_UNAUTH_PORT=${SOLR_READONLY_PORT}
KMASSETS_UNAUTH_SECURE=${SOLR_READONLY_SECURE}
KMASSETS_UNAUTH_FAMILY=${KMASSETS_AUTH_FAMILY}
KMASSETS_UNAUTH_PATH=${KMASSETS_AUTH_PATH}
KMASSETS_UNAUTH_CORE=${KMASSETS_AUTH_CORE}
KMASSETS_UNAUTH_SOLRVERSION=${KMASSETS_AUTH_SOLRVERSION}